USE [master]
GO
/****** Object:  Database [QLSV_DoAn]    Script Date: 10/5/2025 3:52:16 PM ******/
CREATE DATABASE [QLSV_DoAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV_DoAn', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRIEUHIEU\MSSQL\DATA\QLSV_DoAn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_DoAn_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TRIEUHIEU\MSSQL\DATA\QLSV_DoAn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV_DoAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [sv001]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [sv001] WITH PASSWORD=N'xVFrS4fMH8Y3/wxNQgS7mLUdywIEN6wGvtE+nIKj8C8=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [sv001] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [security_su]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [security_su] WITH PASSWORD=N'qzJcXlvFRhqjPXyar9I/LhgiNxWU1C4ODgVC8mFbwaY=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [security_su] DISABLE
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$TRIEUHIEU]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$TRIEUHIEU] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLAgent$TRIEUHIEU]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [NT SERVICE\SQLAgent$TRIEUHIEU] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQL$TRIEUHIEU]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [NT Service\MSSQL$TRIEUHIEU] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\NETWORK SERVICE]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [NT AUTHORITY\NETWORK SERVICE] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [MSI\Admin]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [MSI\Admin] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [gv234]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [gv234] WITH PASSWORD=N'2/ekbys8xYiXnAJz8IpUWT6t0JY+49I6Jx58sMOZ740=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [gv234] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [gv123]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [gv123] WITH PASSWORD=N'1O1NgVFh8OQ/a8FZPhA+3v/GYgvKhxiLB5qwmva9GD0=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [gv123] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [gv01]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [gv01] WITH PASSWORD=N'gwZVUsF1l06hh/6pj/xbscpXy+S0MAMeGJXcCyNPGPI=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [gv01] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [admin]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [admin] WITH PASSWORD=N'7+pQT8dcOPjiXjugZHEu9ix6T5rCKNQsHoV3I0TBV9M=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [admin] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [AD02]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [AD02] WITH PASSWORD=N'e7E96FB3F18huWIZ5a0pGa7aLEv2+sUmeqRYRHXGsu8=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [AD02] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [abc]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [abc] WITH PASSWORD=N'Ieyc2u24IzWE6f31Tb+X/y7R4XU1mgYQdWiwaGfAQ8s=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [abc] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'n7UZ34/trb5QihdcZ/X3lnSydxEntqWdYWzAFEfIKl0=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'ZrykbnT2O49kgfP+yFXQcoWKYLMzgaebrxUYkHpHEYk=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
/****** Object:  Login [l_certSignSmDetach]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [l_certSignSmDetach] FROM CERTIFICATE [_##PDW_SmDetachSigningCertificate##]
GO
/****** Object:  Login [l_certSignPolyBaseAuthorize]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE LOGIN [l_certSignPolyBaseAuthorize] FROM CERTIFICATE [_##PDW_PolyBaseAuthorizeSigningCertificate##]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLAgent$TRIEUHIEU]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$TRIEUHIEU]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [MSI\Admin]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [l_certSignSmDetach]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [l_certSignPolyBaseAuthorize]
GO
USE [QLSV_DoAn]
GO
/****** Object:  User [sv001]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE USER [sv001] FOR LOGIN [sv001] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [gv234]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE USER [gv234] FOR LOGIN [gv234] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [gv123]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE USER [gv123] FOR LOGIN [gv123] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [gv01]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE USER [gv01] FOR LOGIN [gv01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AD02]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE USER [AD02] FOR LOGIN [AD02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [SinhVienRole]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE ROLE [SinhVienRole]
GO
/****** Object:  DatabaseRole [GiangVienRole]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE ROLE [GiangVienRole]
GO
/****** Object:  DatabaseRole [AdminRole]    Script Date: 10/5/2025 3:52:17 PM ******/
CREATE ROLE [AdminRole]
GO
ALTER ROLE [SinhVienRole] ADD MEMBER [sv001]
GO
ALTER ROLE [GiangVienRole] ADD MEMBER [gv234]
GO
ALTER ROLE [GiangVienRole] ADD MEMBER [gv123]
GO
ALTER ROLE [GiangVienRole] ADD MEMBER [gv01]
GO
ALTER ROLE [AdminRole] ADD MEMBER [admin]
GO
ALTER ROLE [AdminRole] ADD MEMBER [AD02]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DemSoHPGV]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DemSoHPGV](@MaGV NVARCHAR(20), @HocKy NVARCHAR(10), @NamHoc NVARCHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @Count INT;
    SELECT @Count = COUNT(*)
    FROM HocPhan
    WHERE GiangVien = @MaGV AND HocKy = @HocKy AND NamHoc = @NamHoc;
    RETURN ISNULL(@Count, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KiemTraDaDangKy]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_KiemTraDaDangKy]
(
    @MaSV NVARCHAR(20)
)
RETURNS BIT
AS
BEGIN
    DECLARE @KetQua BIT;

    IF EXISTS (
        SELECT 1 
        FROM DangKyHocPhan 
        WHERE MaSV = @MaSV
    )
        SET @KetQua = 1;  -- Có tham gia đăng ký ít nhất 1 môn
    ELSE
        SET @KetQua = 0;  -- Chưa đăng ký gì

    RETURN @KetQua;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SoLuongSVDangKy]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_SoLuongSVDangKy](@MaHP NVARCHAR(20))
RETURNS INT
AS
BEGIN
    DECLARE @SoLuong INT;
    SELECT @SoLuong = COUNT(*)
    FROM DangKyHocPhan
    WHERE MaHP = @MaHP;
    RETURN ISNULL(@SoLuong, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongSoTinChiSV]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_TongSoTinChiSV](@MaSV NVARCHAR(20), @HocKy NVARCHAR(10), @NamHoc NVARCHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @Tong INT;
    SELECT @Tong = SUM(mh.SoTinChi)
    FROM DangKyHocPhan dk
    JOIN HocPhan hp ON dk.MaHP = hp.MaHP
    JOIN MonHoc mh ON hp.MaMH = mh.MaMH
    WHERE dk.MaSV = @MaSV AND hp.HocKy = @HocKy AND hp.NamHoc = @NamHoc;
    RETURN ISNULL(@Tong, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TrungLich]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TrungLich]
(
    @MaSV NVARCHAR(20),
    @MaHP NVARCHAR(20)
)
RETURNS BIT
AS
BEGIN
    DECLARE @Trung BIT = 0;

    IF EXISTS (
        SELECT 1
        FROM DangKyHocPhan DK
        JOIN HocPhan HP1 ON DK.MaHP = HP1.MaHP
        JOIN HocPhan HP2 ON HP2.MaHP = @MaHP
        WHERE DK.MaSV = @MaSV AND HP1.ThoiKhoaBieu = HP2.ThoiKhoaBieu
    )
        SET @Trung = 1;

    RETURN @Trung;
END
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [varchar](10) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocPhan]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocPhan](
	[MaHP] [varchar](10) NOT NULL,
	[MaMH] [varchar](10) NOT NULL,
	[HocKy] [int] NOT NULL,
	[NamHoc] [varchar](9) NOT NULL,
	[GiangVien] [nvarchar](100) NULL,
	[ThoiKhoaBieu] [nvarchar](50) NULL,
	[PhongHoc] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyHocPhan]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHocPhan](
	[MaSV] [varchar](10) NOT NULL,
	[MaHP] [varchar](10) NOT NULL,
	[NgayDangKy] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LayDSHPDaDK]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_LayDSHPDaDK] (@MaSV NVARCHAR(20))
RETURNS TABLE
AS
RETURN
(
    SELECT 
        dk.MaHP,
        mh.TenMH,
        mh.SoTinChi,
        hp.GiangVien,
        dk.NgayDangKy,
        hp.HocKy,
        hp.NamHoc
    FROM DangKyHocPhan dk
    JOIN HocPhan hp ON dk.MaHP = hp.MaHP
    JOIN MonHoc mh ON hp.MaMH = mh.MaMH
    WHERE dk.MaSV = @MaSV
);
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[Lop] [varchar](10) NULL,
	[Nganh] [nvarchar](50) NULL,
	[Khoa] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XemSinhVienTrongLop]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_XemSinhVienTrongLop]
(
    @MaHP NVARCHAR(20)
)
RETURNS TABLE
AS
RETURN
(
    SELECT SV.MaSV,
           SV.HoTen,
           SV.Lop,
           SV.Khoa,
           SV.SDT
    FROM DangKyHocPhan DK
    JOIN SinhVien SV ON DK.MaSV = SV.MaSV
    WHERE DK.MaHP = @MaHP
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LayDSHP]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_LayDSHP]
(
    @HocKy NVARCHAR(10),
    @NamHoc NVARCHAR(10)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        hp.MaHP,
        mh.TenMH,
        hp.NamHoc,
        hp.HocKy,
        mh.SoTinChi,
        hp.GiangVien,
        hp.ThoiKhoaBieu,
        hp.PhongHoc
    FROM HocPhan hp
    JOIN MonHoc mh ON hp.MaMH = mh.MaMH
    WHERE hp.HocKy = @HocKy 
      AND hp.NamHoc = @NamHoc
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TraCuuHocPhan]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_TraCuuHocPhan]
(
    @MaHP NVARCHAR(50) = NULL,
    @TenHP NVARCHAR(100) = NULL,
    @HocKy NVARCHAR(20) = NULL
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        hp.MaHP,
        mh.TenMH,
        mh.SoTinChi,
        hp.HocKy,
        hp.NamHoc,
        hp.GiangVien,
        hp.ThoiKhoaBieu,
        hp.PhongHoc
    FROM HocPhan hp
    JOIN MonHoc mh ON hp.MaMH = mh.MaMH
    WHERE (@MaHP IS NULL OR hp.MaHP LIKE '%'+@MaHP+'%')
      AND (@TenHP IS NULL OR mh.TenMH LIKE N'%'+@TenHP+N'%')
      AND (@HocKy IS NULL OR hp.HocKy = @HocKy)
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LayAllDSHP]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_LayAllDSHP]()
RETURNS TABLE
AS
RETURN
(
    SELECT * FROM HocPhan
);
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDN] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[MaDinhDanh] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVuKhac]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVuKhac](
	[MaDinhDanh] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucVuKhac] PRIMARY KEY CLUSTERED 
(
	[MaDinhDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ChiTietTaiKhoan]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_ChiTietTaiKhoan] AS
SELECT tk.TenDN, tk.VaiTro, tk.MaDinhDanh,
       sv.HoTen AS HoTenSV,
       cv.HoTen AS HoTenChucVu
FROM TaiKhoan tk
LEFT JOIN SinhVien sv ON tk.MaDinhDanh = sv.MaSV
LEFT JOIN ChucVuKhac cv ON tk.MaDinhDanh = cv.MaDinhDanh;
GO
/****** Object:  View [dbo].[v_SinhVienDKMH]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_SinhVienDKMH] AS
SELECT sv.MaSV, sv.HoTen, hp.MaHP, mh.TenMH, hp.HocKy, hp.NamHoc, hp.GiangVien
FROM DangKyHocPhan dk
JOIN SinhVien sv ON dk.MaSV = sv.MaSV
JOIN HocPhan hp ON dk.MaHP = hp.MaHP
JOIN MonHoc mh ON hp.MaMH = mh.MaMH;
GO
/****** Object:  View [dbo].[v_HocPhanSLSV]    Script Date: 10/5/2025 3:52:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_HocPhanSLSV] AS
SELECT hp.MaHP, mh.TenMH, hp.HocKy, hp.NamHoc, hp.GiangVien, COUNT(dk.MaSV) AS SoLuongSV
FROM HocPhan hp
JOIN MonHoc mh ON hp.MaMH = mh.MaMH
LEFT JOIN DangKyHocPhan dk ON hp.MaHP = dk.MaHP
GROUP BY hp.MaHP, mh.TenMH, hp.HocKy, hp.NamHoc, hp.GiangVien;
GO
INSERT [dbo].[ChucVuKhac] ([MaDinhDanh], [HoTen]) VALUES (N'AD01', N'TRIEU PHUC HIEU')
INSERT [dbo].[ChucVuKhac] ([MaDinhDanh], [HoTen]) VALUES (N'AD02', N'Nguyen Van A')
INSERT [dbo].[ChucVuKhac] ([MaDinhDanh], [HoTen]) VALUES (N'GV01', N'Nguyen Van Thay')
GO
INSERT [dbo].[DangKyHocPhan] ([MaSV], [MaHP], [NgayDangKy]) VALUES (N'SV001', N'HP001', CAST(N'2025-08-01' AS Date))
INSERT [dbo].[DangKyHocPhan] ([MaSV], [MaHP], [NgayDangKy]) VALUES (N'SV001', N'HP002', CAST(N'2025-09-23' AS Date))
INSERT [dbo].[DangKyHocPhan] ([MaSV], [MaHP], [NgayDangKy]) VALUES (N'SV001', N'HP004', CAST(N'2025-09-23' AS Date))
GO
INSERT [dbo].[HocPhan] ([MaHP], [MaMH], [HocKy], [NamHoc], [GiangVien], [ThoiKhoaBieu], [PhongHoc]) VALUES (N'HP001', N'MH001', 1, N'2024-2025', N'Nguyen Van Thay', N'T2-7h30', N'P101')
INSERT [dbo].[HocPhan] ([MaHP], [MaMH], [HocKy], [NamHoc], [GiangVien], [ThoiKhoaBieu], [PhongHoc]) VALUES (N'HP002', N'MH002', 1, N'2024-2025', N'Tran Thi Co', N'T3-9h30', N'P102')
INSERT [dbo].[HocPhan] ([MaHP], [MaMH], [HocKy], [NamHoc], [GiangVien], [ThoiKhoaBieu], [PhongHoc]) VALUES (N'HP003', N'MH003', 1, N'2024-2025', N'Le Van Day', N'T4-13h00', N'P103')
GO
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi]) VALUES (N'MH001', N'Co so du lieu', 3)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi]) VALUES (N'MH002', N'Lap trinh C#', 3)
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi]) VALUES (N'MH003', N'Mang may tinh', 3)
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [Lop], [Nganh], [Khoa], [DiaChi], [SDT]) VALUES (N'SV001', N'Nguyen Van A', CAST(N'2004-01-15' AS Date), N'Nam', N'CTK45A', N'Cong nghe thong tin', N'CNTT', N'Ha Noi', N'0912345678')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [Lop], [Nganh], [Khoa], [DiaChi], [SDT]) VALUES (N'SV002', N'Tran Thi B', CAST(N'2004-02-20' AS Date), N'Nu', N'CTK45A', N'Cong nghe thong tin', N'CNTT', N'Ha Noi', N'0912345679')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [Lop], [Nganh], [Khoa], [DiaChi], [SDT]) VALUES (N'SV003', N'Le Van C', CAST(N'2003-12-10' AS Date), N'Nam', N'CTK45B', N'Ky thuat du lieu', N'CNTT', N'Hai Phong', N'0912345680')
GO
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [VaiTro], [MaDinhDanh]) VALUES (N'AD02', N'123456', N'Admin', N'AD02')
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [VaiTro], [MaDinhDanh]) VALUES (N'admin', N'123', N'Admin', N'AD01')
INSERT [dbo].[TaiKhoan] ([TenDN], [MatKhau], [VaiTro], [MaDinhDanh]) VALUES (N'gv01', N'123', N'GiangVien', N'GV01')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_MaDinhDanh]    Script Date: 10/5/2025 3:52:18 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_MaDinhDanh] UNIQUE NONCLUSTERED 
(
	[MaDinhDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChucVuKhac]  WITH CHECK ADD  CONSTRAINT [FK_ChucVuKhac_TaiKhoan] FOREIGN KEY([MaDinhDanh])
REFERENCES [dbo].[TaiKhoan] ([MaDinhDanh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChucVuKhac] CHECK CONSTRAINT [FK_ChucVuKhac_TaiKhoan]
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD FOREIGN KEY([MaHP])
REFERENCES [dbo].[HocPhan] ([MaHP])
GO
ALTER TABLE [dbo].[DangKyHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_DangKyHocP_MaSV] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DangKyHocPhan] CHECK CONSTRAINT [FK_DangKyHocP_MaSV]
GO
ALTER TABLE [dbo].[HocPhan]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_TaiKhoan] FOREIGN KEY([MaSV])
REFERENCES [dbo].[TaiKhoan] ([MaDinhDanh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_TaiKhoan]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SV_GioiTinh] CHECK  (([GioiTinh]=N'Nu' OR [GioiTinh]=N'Nam'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SV_GioiTinh]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [CK_SV_SDT] CHECK  (([SDT] IS NULL OR [SDT] like '[0-9+ -]%'))
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [CK_SV_SDT]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]='SinhVien' OR [VaiTro]='GiangVien' OR [VaiTro]='Admin'))
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateAndMapUser]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_CreateAndMapUser]
    @TenDN NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MatKhau NVARCHAR(100), @VaiTro NVARCHAR(20);

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Lấy thông tin từ bảng TaiKhoan
        SELECT @MatKhau = MatKhau, @VaiTro = VaiTro
        FROM TaiKhoan
        WHERE TenDN = @TenDN;

        IF @MatKhau IS NULL
        BEGIN
            RAISERROR('Không tìm thấy tài khoản trong bảng TaiKhoan.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Tạo login nếu chưa có
        IF NOT EXISTS (SELECT 1 FROM sys.server_principals WHERE name = @TenDN)
            EXEC('CREATE LOGIN [' + @TenDN + '] WITH PASSWORD = ''' + @MatKhau + '''');

        -- Tạo user nếu chưa có
        IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @TenDN)
            EXEC('CREATE USER [' + @TenDN + '] FOR LOGIN [' + @TenDN + ']');

        -- Gán Role
        IF @VaiTro = 'Admin'
            EXEC('ALTER ROLE AdminRole ADD MEMBER [' + @TenDN + ']');
        ELSE IF @VaiTro = 'GiangVien'
            EXEC('ALTER ROLE GiangVienRole ADD MEMBER [' + @TenDN + ']');
        ELSE IF @VaiTro = 'SinhVien'
            EXEC('ALTER ROLE SinhVienRole ADD MEMBER [' + @TenDN + ']');
        ELSE
        BEGIN
            RAISERROR('Vai trò không hợp lệ.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHocPhan]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_DangKyHocPhan]
    @MaSV NVARCHAR(20),
    @MaHP NVARCHAR(20),
    @NamHoc NVARCHAR(10),
    @HocKy NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SoTinChi INT;
    -- Kiểm tra trùng lịch
    IF dbo.fn_TrungLich(@MaSV, @MaHP) = 1
    BEGIN
        RAISERROR(N'Bị trùng lịch, không thể đăng ký!', 16, 1);
        RETURN;
    END;

    -- Kiểm tra tín chỉ
    IF dbo.fn_TongTinChi(@MaSV, @HocKy, @NamHoc) + @SoTinChi > 25
    BEGIN
        RAISERROR(N'Vượt quá số tín chỉ tối đa!', 16, 1);
        RETURN;
    END;

    -- Thêm đăng ký
    INSERT INTO DangKyHocPhan(MaSV, MaHP, NgayDangKy)
    VALUES(@MaSV, @MaHP, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_datDieuKien]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_datDieuKien]
    @MaSV NVARCHAR(20),
    @MaHP NVARCHAR(20),
    @NamHoc NVARCHAR(10),
    @HocKy NVARCHAR(10),
    @KetQua NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SoTinChi INT;
    SELECT @SoTinChi = MH.SoTinChi
    FROM HocPhan HP
    JOIN MonHoc MH ON HP.MaMH = MH.MaMH
    WHERE HP.MaHP = @MaHP;
    -- Kiểm tra trùng lịch
    IF dbo.fn_TrungLich(@MaSV, @MaHP) = 1
    BEGIN
        SET @KetQua = N'Không đủ điều kiện: Bị trùng lịch';
        RETURN;
    END;

    -- Kiểm tra tín chỉ
    IF dbo.fn_TongSoTinChiSV(@MaSV, @HocKy, @NamHoc) + @SoTinChi > 25
    BEGIN
        SET @KetQua = N'Không đủ điều kiện: Vượt quá số tín chỉ tối đa';
        RETURN;
    END;
    -- Nếu qua hết điều kiện
    SET @KetQua = N'Đủ điều kiện';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DKMH]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DKMH]
    @MaSV NVARCHAR(20),
    @MaHP NVARCHAR(20),
    @HocKy NVARCHAR(10),
    @NamHoc NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @KetQua NVARCHAR(100);

        EXEC sp_datDieuKien @MaSV, @MaHP, @NamHoc, @HocKy, @KetQua OUTPUT;

        IF @KetQua <> N'Đủ điều kiện'
        BEGIN
            RAISERROR(@KetQua, 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;
        INSERT INTO DangKyHocPhan(MaSV, MaHP, NgayDangKy)
        VALUES (@MaSV, @MaHP, GETDATE());

        COMMIT TRANSACTION;
        PRINT N'Đăng ký thành công!';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@Err, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HuyDangKy]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_HuyDangKy]
    @MaSV NVARCHAR(20),
    @MaHP NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM DangKyHocPhan 
        WHERE MaSV = @MaSV AND MaHP = @MaHP;

        -- Nếu cần trả kết quả
        SELECT @@ROWCOUNT AS SoDongXoa;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), 
               @ErrSeverity = ERROR_SEVERITY();

        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LayDSHPGV]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LayDSHPGV]
	@MaGV NVARCHAR(20)
AS
BEGIN
	SELECT hp.MaHP
	FROM HocPhan hp
	JOIN ChucVuKhac cvk on hp.GiangVien=cvk.HoTen
	WHERE cvk.MaDinhDanh= @MaGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_LOGIN]
    @username NVARCHAR(50),
    @password NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDN=@username AND MatKhau=@password)
    BEGIN
        DECLARE @vaitro NVARCHAR(20);
        SELECT @vaitro = VaiTro FROM TaiKhoan WHERE TenDN=@username;

        IF @vaitro='SinhVien'
        BEGIN
            SELECT tk.VaiTro, tk.MaDinhDanh, sv.HoTen 
            FROM TaiKhoan tk
            INNER JOIN SinhVien sv ON tk.MaDinhDanh=sv.MaSV
            WHERE tk.TenDN=@username;
        END
        ELSE
        BEGIN
           SELECT tk.VaiTro, tk.MaDinhDanh, cvk.HoTen
    		FROM TaiKhoan tk
   		 INNER JOIN ChucVuKhac cvk ON tk.MaDinhDanh = cvk.MaDinhDanh
    		WHERE tk.TenDN=@username;
        END
    END
    ELSE
    BEGIN
        RAISERROR(N'Tên đăng nhập hoặc mật khẩu không đúng!',16,1);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MapRole]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MapRole]
    @TenDN NVARCHAR(50)
AS
BEGIN
    DECLARE @VaiTro NVARCHAR(20);

    -- Lấy VaiTro từ bảng TaiKhoan
    SELECT @VaiTro = VaiTro
    FROM TaiKhoan
    WHERE TenDN = @TenDN;

    -- Nếu user chưa tồn tại trong DB thì tạo (login phải có sẵn)
    IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @TenDN)
    BEGIN
        DECLARE @sql NVARCHAR(MAX);
        SET @sql = 'CREATE USER [' + @TenDN + '] FOR LOGIN [' + @TenDN + ']';
        EXEC(@sql);
    END

    -- Gán vào Role tương ứng
    IF @VaiTro = 'Admin'
        EXEC('ALTER ROLE AdminRole ADD MEMBER [' + @TenDN + ']');
    ELSE IF @VaiTro = 'GiangVien'
        EXEC('ALTER ROLE GiangVienRole ADD MEMBER [' + @TenDN + ']');
    ELSE IF @VaiTro = 'SinhVien'
        EXEC('ALTER ROLE SinhVienRole ADD MEMBER [' + @TenDN + ']');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaHocPhan]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SuaHocPhan]
    @MaHP NVARCHAR(10),
    @MaMH NVARCHAR(10),
    @HocKy INT,
    @NamHoc NVARCHAR(20),
    @GiangVien NVARCHAR(100),
    @ThoiKhoaBieu NVARCHAR(50),
    @PhongHoc NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM HocPhan WHERE MaHP = @MaHP)
    BEGIN
        RAISERROR(N'Mã học phần không tồn tại!', 16, 1);
        RETURN;
    END;

    UPDATE HocPhan
    SET MaMH = @MaMH,
        HocKy = @HocKy,
        NamHoc = @NamHoc,
        GiangVien = @GiangVien,
        ThoiKhoaBieu = @ThoiKhoaBieu,
        PhongHoc = @PhongHoc
    WHERE MaHP = @MaHP;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemHocPhan]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThemHocPhan]
    @MaHP NVARCHAR(10),
    @MaMH NVARCHAR(10),
    @HocKy INT,
    @NamHoc NVARCHAR(20),
    @GiangVien NVARCHAR(100),
    @ThoiKhoaBieu NVARCHAR(50),
    @PhongHoc NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM HocPhan WHERE MaHP = @MaHP)
    BEGIN
        RAISERROR(N'Mã học phần đã tồn tại!', 16, 1);
        RETURN;
    END;

    INSERT INTO HocPhan (MaHP, MaMH, HocKy, NamHoc, GiangVien, ThoiKhoaBieu, PhongHoc)
    VALUES (@MaHP, @MaMH, @HocKy, @NamHoc, @GiangVien, @ThoiKhoaBieu, @PhongHoc);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemTaiKhoan]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ThemTaiKhoan]
    @TenDN NVARCHAR(50),
    @MatKhau NVARCHAR(100),
    @HoTen NVARCHAR(100),
    @VaiTro NVARCHAR(20),       -- 'SinhVien' | 'GiangVien' | 'Admin'
    @MaDinhDanh NVARCHAR(20)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (SELECT 1 FROM TaiKhoan WHERE TenDN=@TenDN)
        BEGIN
            RAISERROR(N'Tài khoản đã tồn tại!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Insert TaiKhoan trước
        INSERT INTO TaiKhoan(MaDinhDanh, TenDN, MatKhau, VaiTro)
        VALUES(@MaDinhDanh, @TenDN, @MatKhau, @VaiTro);

        -- Sau đó insert bảng con
        IF @VaiTro = 'SinhVien'
        BEGIN
            IF EXISTS (SELECT 1 FROM SinhVien WHERE MaSV=@MaDinhDanh)
            BEGIN
                RAISERROR(N'Mã sinh viên đã tồn tại!', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END;

            INSERT INTO SinhVien(MaSV, HoTen)
            VALUES(@MaDinhDanh, @HoTen);
        END
        ELSE
        BEGIN
            IF EXISTS (SELECT 1 FROM ChucVuKhac WHERE MaDinhDanh=@MaDinhDanh)
            BEGIN
                RAISERROR(N'Mã định danh đã tồn tại trong ChucVuKhac!', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN;
            END;

            INSERT INTO ChucVuKhac(MaDinhDanh, HoTen)
            VALUES(@MaDinhDanh, @HoTen);
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeHP]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ThongKeHP]
AS
BEGIN
	SELECT hp.MaHP, mh.TenMH, COUNT(dk.MaSV) AS SoLuongSV
	FROM HocPhan hp
	LEFT JOIN DangKyHocPhan dk ON hp.MaHP = dk.MaHP
	JOIN MonHoc mh ON hp.MaMH = mh.MaMH
	GROUP BY hp.MaHP, mh.TenMH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_XoaHocPhan]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_XoaHocPhan]
    @MaHP NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM HocPhan WHERE MaHP = @MaHP)
        BEGIN
            RAISERROR(N'Mã học phần không tồn tại!', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END;

        -- Gọi delete, trigger sẽ lo phần xóa liên quan
        DELETE FROM HocPhan WHERE MaHP = @MaHP;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaTaiKhoan]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_XoaTaiKhoan]
    @MaDinhDanh NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM TaiKhoan WHERE MaDinhDanh = @MaDinhDanh;

    -- Trả về số dòng bị xóa
    SELECT @@ROWCOUNT;
END
GO
/****** Object:  Trigger [dbo].[trg_GioiHanSiSo]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_GioiHanSiSo]
ON [dbo].[DangKyHocPhan]
AFTER INSERT
AS
BEGIN
    DECLARE @MaHP NVARCHAR(20);
    SELECT @MaHP=MaHP FROM INSERTED;

    IF (SELECT COUNT(*) FROM DangKyHocPhan WHERE MaHP=@MaHP)>5
    BEGIN
        ROLLBACK TRAN;
        RAISERROR(N'Lớp đã đủ sĩ số, không thể đăng ký thêm!',16,1);
    END
END;
GO
ALTER TABLE [dbo].[DangKyHocPhan] ENABLE TRIGGER [trg_GioiHanSiSo]
GO
/****** Object:  Trigger [dbo].[tg_CheckTrungLich]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tg_CheckTrungLich]
ON [dbo].[HocPhan]
FOR INSERT, UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN HocPhan h
          ON i.MaMH = h.MaMH
         AND i.GiangVien = h.GiangVien
         AND i.ThoiKhoaBieu = h.ThoiKhoaBieu
         AND i.PhongHoc = h.PhongHoc
         AND i.HocKy = h.HocKy
         AND i.NamHoc = h.NamHoc
         AND i.MaHP <> h.MaHP
    )
    BEGIN
        RAISERROR(N'Giảng viên bị trùng lịch học phần!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END;
GO
ALTER TABLE [dbo].[HocPhan] ENABLE TRIGGER [tg_CheckTrungLich]
GO
/****** Object:  Trigger [dbo].[tg_KtraTrungPhong]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tg_KtraTrungPhong]
ON [dbo].[HocPhan]
AFTER INSERT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM HocPhan h
        JOIN INSERTED i 
            ON h.PhongHoc = i.PhongHoc
           AND h.ThoiKhoaBieu = i.ThoiKhoaBieu
           AND h.HocKy = i.HocKy
           AND h.NamHoc = i.NamHoc
           AND h.MaHP <> i.MaHP 
    )
    BEGIN
        RAISERROR (N'Phòng học đã bị trùng lịch học phần khác!', 16, 1);
        ROLLBACK TRANSACTION;
    END
END
GO
ALTER TABLE [dbo].[HocPhan] ENABLE TRIGGER [tg_KtraTrungPhong]
GO
/****** Object:  Trigger [dbo].[tg_XoaHocPhan]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[tg_XoaHocPhan]
ON [dbo].[HocPhan]
INSTEAD OF DELETE
AS
BEGIN
    -- Xóa bản ghi con trong DangKyHocPhan trước
    DELETE dk
    FROM DangKyHocPhan dk
    INNER JOIN deleted d ON dk.MaHP = d.MaHP;

    -- Sau đó mới xóa HocPhan
    DELETE hp
    FROM HocPhan hp
    INNER JOIN deleted d ON hp.MaHP = d.MaHP;
END
GO
ALTER TABLE [dbo].[HocPhan] ENABLE TRIGGER [tg_XoaHocPhan]
GO
/****** Object:  Trigger [dbo].[tg_TaoTaiKhoanPQ]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[tg_TaoTaiKhoanPQ]
ON [dbo].[TaiKhoan]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @sql NVARCHAR(MAX) = N'';

    SELECT @sql = @sql + N'EXEC SP_CreateAndMapUser @TenDN = ''' + TenDN + N''';' + CHAR(13)
    FROM inserted;

    EXEC sp_executesql @sql;
END;
GO
ALTER TABLE [dbo].[TaiKhoan] ENABLE TRIGGER [tg_TaoTaiKhoanPQ]
GO
/****** Object:  Trigger [dbo].[trg_AutoDeleteUser]    Script Date: 10/5/2025 3:52:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_AutoDeleteUser]
ON [dbo].[TaiKhoan]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TenDN NVARCHAR(50);

    -- Duyệt tất cả các tài khoản bị xóa
    DECLARE cur CURSOR FOR
        SELECT TenDN FROM DELETED;

    OPEN cur;
    FETCH NEXT FROM cur INTO @TenDN;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Xóa User trong Database nếu có
        IF EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @TenDN)
        BEGIN
            EXEC('DROP USER [' + @TenDN + ']');
        END

        -- Xóa Login trên Server nếu có
        IF EXISTS (SELECT 1 FROM sys.server_principals WHERE name = @TenDN)
        BEGIN
            EXEC('DROP LOGIN [' + @TenDN + ']');
        END

        FETCH NEXT FROM cur INTO @TenDN;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
ALTER TABLE [dbo].[TaiKhoan] ENABLE TRIGGER [trg_AutoDeleteUser]
GO
USE [master]
GO
